@charset "UTF-8";
/**
 * 注意！
 * common 中只引入所有抽象类的 abstracts 与 mixin
 * main 中需要引入 common 以及其他具体的内容（全局 reset、公共布局、公共组件等）
 * ========
 * 其他独立页面则引入 common 与 pages 目录下具体 page，并单独编译
 **/
/**
  * abstracts/
  * vendors/
  * base/
  * layout/
  * components/
  * pages/
  * themes/
  */
/**
  * abstracts/
  * vendors/
  * base/
  * layout/
  * components/
  * pages/
  * themes/
  */
.yupoo-fade-enter,
.yupoo-fade-leave {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused; }

.yupoo-fade-enter.yupoo-fade-enter-active {
  animation-play-state: running; }

.yupoo-fade-leave.yupoo-fade-leave-active {
  animation-play-state: running;
  pointer-events: none; }

.yupoo-fade-enter,
.yupoo-fade-leave {
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); }

.yupoo-zoom-enter,
.yupoo-zoom-leave {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused; }

.yupoo-zoom-enter.yupoo-zoom-enter-active {
  animation-play-state: running; }

.yupoo-zoom-leave.yupoo-zoom-leave-active {
  animation-play-state: running;
  pointer-events: none; }

.yupoo-zoom-enter,
.yupoo-zoom-leave {
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); }

.yupoo-tooltip.yupoo-zoom-enter.yupoo-zoom-enter-active {
  animation-name: UPZoomEnter; }

.yupoo-tooltip.yupoo-zoom-leave.yupoo-zoom-leave-active {
  animation-name: UPZoomLeave; }

.yupoo-tooltip.yupoo-zoom-enter, .yupoo-tooltip.yupoo-zoom-leave {
  animation-duration: 0.1s; }

@keyframes UPZoomEnter {
  0% {
    transform: scale(0.8);
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }

@keyframes UPZoomLeave {
  0% {
    transform: scale(1);
    opacity: 1; }
  to {
    transform: scale(0.8);
    opacity: 0; } }

.showheader__nickname {
  -webkit-box-orient: vertical; }

.categories__box-right-pagination-button-next,
.categories__box-right-pagination-button-prev {
  display: inline-block; }

.categories__box-right-pagination-button-next {
  transform: rotate(180deg); }

@media (min-width: 641px) {
  .yupoo-categories-show-sidebar,
  .yupoo-categories-hide-sidebar {
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url("https://s.yupoo.com/website/4.31.11/images/icons/yupoo-icon-sidebar-toggle.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    cursor: pointer; }
  .yupoo-categories-hide-sidebar {
    top: 36px;
    left: 195px; }
  .yupoo-categories-show-sidebar {
    display: none;
    top: 23px;
    left: 0;
    border: 1px solid #ececec;
    border-radius: 12px;
    transform: rotate(180deg); }
  .categories__box.no-sidebar .yupoo-categories-hide-sidebar {
    display: none; }
  .categories__box.no-sidebar .yupoo-categories-show-sidebar {
    display: block; }
  .categories__box.no-sidebar .categories__box-left {
    display: none; }
  .categories__box.no-sidebar .categories__box-right {
    margin-left: 0; }
  .categories__box-right-categories-toggle::after {
    background-image: url("https://s.yupoo.com/website/4.31.11/images/icons/yupoo-icon-prev.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px 16px; }
  .categories__box-right-categories-wrap.is-fold .categories__box-right-categories {
    max-height: 94px;
    overflow: hidden; }
  .categories__box-right-categories-wrap.is-fold .categories__box-right-categories-toggle::after {
    transform: rotate(270deg); }
  .categories__box-right-categories-wrap.is-fold .categories__box-right-category-item {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  .categories__box-right-categories-wrap:not(.is-fold) .categories__box-right-category-item-trick-wrap {
    position: relative; }
    .categories__box-right-categories-wrap:not(.is-fold) .categories__box-right-category-item-trick-wrap::after {
      content: '';
      position: absolute;
      bottom: -13px;
      left: 0;
      right: -24px;
      border-bottom: 1px solid #ececec; }
  .categories__box-right-categories-wrap:not(.is-fold) .categories__box-right-category-item {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .categories__box-right-pagination-button-next,
  .categories__box-right-pagination-button-prev {
    width: 14px;
    height: 22px;
    background-image: url("https://s.yupoo.com/website/4.31.11/images/icons/yupoo-icon-prev.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 14px 14px; } }

@media (max-width: 640px) {
  .categories__box-right-pagination-button-next,
  .categories__box-right-pagination-button-prev {
    width: 10px;
    height: 18px;
    background-image: url("https://s.yupoo.com/website/4.31.11/images/icons/yupoo-icon-prev.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10px 10px; } }

.categories__box-right-main .album__title {
  -webkit-box-orient: vertical; }

.categories__box-right-main .pagination__main {
  padding-top: 32px; }

.yupoo-scroll-forbidden {
  overflow: hidden; }

.yupoo-header-entry-btn {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 16px;
  padding: 0 18px;
  height: 32px;
  line-height: 30px;
  background-color: #49bc85;
  color: #fff;
  font-size: 14px;
  text-transform: none;
  transition: 0.3s; }

.yupoo-header-mobile-extra-top-logo {
  height: 60px; }
  .yupoo-header-mobile-extra-top-logo img {
    height: 60%;
    vertical-align: middle; }

@media (min-width: 641px) {
  .yupoo-header-mobile-extra-wrap {
    display: none; } }

@media (max-width: 640px) {
  .yupoo-header-mobile-extra-wrap {
    padding: 8px 16px;
    height: 48px;
    line-height: 48px; }
  .yupoo-header-mobile-extra-btn-toggle {
    display: inline-block;
    margin: 4px 13px 4px 0;
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease-in-out; }
    .yupoo-header-mobile-extra-btn-toggle:active {
      transform: scale(0.86); }
    .yupoo-header-mobile-extra-btn-toggle .yupoo-button-hamburger-bar {
      top: 11px;
      right: 2px; }
  .yupoo-header-mobile-extra-search {
    display: inline-block; }
  .yupoo-header-mobile-collapse-categories {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    overflow: scroll;
    z-index: 999; }
  .yupoo-header-mobile-extra-top {
    position: relative;
    height: 60px;
    background-color: #49bc85; }
  .yupoo-header-mobile-extra-top-logo {
    line-height: 60px;
    margin-left: 1.2em; }
  .yupoo-header-mobile-extra-top-btn {
    position: absolute;
    top: 18px;
    right: 15px;
    width: 24px;
    height: 24px;
    background-image: url("https://s.yupoo.com/website/4.31.11/images/icons/yupoo-icon-btn-close.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px 24px; } }

.yupoo-header-mobile-collapse-categories.is-hidden {
  display: none; }

.yupoo-header-mobile-collapse-categories.yupoo-fade-enter.yupoo-fade-enter-active {
  animation-name: UPMobileCollapseCategoriesFadeEnter; }

.yupoo-header-mobile-collapse-categories.yupoo-fade-leave.yupoo-fade-leave-active {
  animation-name: UPMobileCollapseCategoriesFadeLeave; }

@keyframes UPMobileCollapseCategoriesFadeEnter {
  0% {
    transform: translateX(-100%); }
  to {
    transform: translateX(0); } }

@keyframes UPMobileCollapseCategoriesFadeLeave {
  to {
    transform: translateX(-100%); } }

.showheader__cateWrap.is-active .showheader__category_new {
  padding: 32px 18px;
  height: auto; }

.showheader__cateWrap.is-active *:focus {
  outline: none; }

.showheader__category_new {
  display: flex;
  position: absolute;
  top: 42px;
  left: 0;
  border-radius: 4px;
  padding: 0;
  width: 100%;
  height: 0;
  background: #fff;
  overflow: hidden;
  white-space: normal;
  z-index: 3;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1); }

.showheader__category_child {
  position: relative;
  padding-top: 16px; }
  .showheader__category_child::before {
    content: '';
    position: absolute;
    top: 7.5px;
    border-bottom: 1px solid #ececec;
    width: 100%; }

.showheader__category_item,
.showheader__category_child_item {
  display: flex;
  flex-direction: column; }

.showheader__category_item {
  position: relative;
  padding: 0 14px 12px 14px; }

.showheader__link {
  margin-right: 24px;
  line-height: 24px;
  color: #494949;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }
  .showheader__link:hover {
    color: #49bc85; }

.showheader__category_child_item {
  color: #7f7f7f; }
  .showheader__category_child_item:not(:last-child) {
    margin-bottom: 8px; }

.showheader__child_link {
  line-height: 22px;
  color: rgba(34, 34, 34, 0.75);
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }
  .showheader__child_link:hover {
    color: #49bc85; }

.showheader__category_collapse {
  content: '';
  position: absolute;
  top: 0;
  right: 8px;
  width: 24px;
  height: 24px;
  background-image: url("https://s.yupoo.com/website/4.31.11/images/icons/yupoo-icon-collapse-arrow.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  transform: rotate(-90deg);
  transition: transform 0.2s ease-in-out;
  cursor: pointer; }

.yupoo-macy-container-2,
.yupoo-macy-container-4 {
  display: inline-block;
  position: relative; }
  .yupoo-macy-container-2:not(:last-child):after,
  .yupoo-macy-container-4:not(:last-child):after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-right: 1px solid #ececec;
    height: 100%; }

.yupoo-macy-container-4 {
  width: 25%; }

.yupoo-macy-container-2 {
  width: 50%; }

.showheader__has_child_category.yupoo-collapse-item-active .showheader__category_collapse {
  transform: rotate(0); }

.showheader__category_child_wrap {
  overflow: hidden;
  transition: height 0.2s ease-in-out, opacity 0.2s ease-in-out;
  user-select: none; }

.showheader__menus .showheader__cateWrap .showheader__tabflag {
  width: calc(100% - 21px); }

.showheader__menus .showheader__cateWrap.is-active .showheader__menuslink i {
  transform: rotate(-180deg); }

.showheader__menus .showheader__cateWrap.is-active .showheader__category,
.showheader__menus .showheader__cateWrap.is-active .showheader__tabflag {
  display: block; }

@media (max-width: 640px) {
  .showheader__cateWrap.is-active .showheader__category_new {
    padding: 12px 0; }
  .showheader__category_item {
    padding: 0 12px 12px 12px; }
  .showheader__link {
    margin-right: 16px;
    height: 22px;
    line-height: 22px;
    font-size: 14px; }
  .showheader__category_collapse {
    top: 1px;
    right: 8px;
    width: 20px;
    height: 20px; }
  .showheader__child_link {
    line-height: 18px;
    font-size: 12px; }
  .showheader__menus .showheader__cateWrap .showheader__tabflag {
    width: calc(100% - 18px); }
  .showheader__search {
    display: none; }
  .showheader__nickname {
    padding-right: 0;
    max-width: unset;
    line-height: 24px;
    max-height: 48px;
    font-size: 16px;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .showheader__menuslink {
    font-size: 14px; }
  .showheader__menus .showheader__cateWrap i.showheader__showcate {
    transform: rotate(0deg); } }

.yupoo-button-hamburger {
  position: relative; }
  .yupoo-button-hamburger.is-active .yupoo-button-hamburger-bar:first-child {
    transform: rotate(-45deg); }
  .yupoo-button-hamburger.is-active .yupoo-button-hamburger-bar:nth-child(2) {
    opacity: 0; }
  .yupoo-button-hamburger.is-active .yupoo-button-hamburger-bar:last-child {
    transform: rotate(45deg); }

.yupoo-button-hamburger-bar {
  display: block;
  position: absolute;
  border-radius: 10px;
  width: 20px;
  height: 2px;
  background-color: #fff;
  transition: all 0.24s ease-in-out; }
  .yupoo-button-hamburger-bar:first-child {
    transform: translateY(-6px); }
  .yupoo-button-hamburger-bar:last-child {
    transform: translateY(6px); }

.yupoo-collapse-item {
  position: relative; }
  .yupoo-collapse-item.yupoo-collapse-item-active .yupoo-collapse-header::after {
    transform: rotate(0); }
  .yupoo-collapse-item.yupoo-collapse-item-selected .yupoo-collapse-header {
    color: #49bc85; }
  .yupoo-collapse-item.yupoo-collapse-item-single .yupoo-collapse-header::after {
    display: none; }
  .yupoo-collapse-item:not(.yupoo-collapse-item-single) {
    cursor: pointer; }
  .yupoo-collapse-item:first-child .yupoo-collapse-header {
    border-top: none; }

.yupoo-collapse-header {
  position: relative;
  border-top: 1px solid #ebebeb;
  padding-left: 16px;
  height: 48px;
  line-height: 48px;
  user-select: none; }
  .yupoo-collapse-header a {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer; }
    .yupoo-collapse-header a:hover {
      color: #49bc85; }
  .yupoo-collapse-header::after {
    position: absolute;
    top: 18px;
    right: 16px;
    content: '';
    width: 12px;
    height: 12px;
    background-image: url("https://s.yupoo.com/website/4.31.11/images/icons/yupoo-icon-collapse-arrow.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    transform: rotate(-90deg);
    transition: transform 0.2s ease-in-out; }

.yupoo-collapse-content {
  border-top: 1px solid #ebebeb;
  background-color: #fff;
  transition: height 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  overflow: hidden; }
  .yupoo-collapse-content:hover {
    height: auto; }

.yupoo-collapse-content-hidden {
  display: none; }

.yupoo-collapse-content-item {
  display: block;
  padding: 0 16px;
  width: 100%;
  color: #353535;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }
  .yupoo-collapse-content-item:hover {
    color: #49bc85; }
  .yupoo-collapse-content-item.yupoo-collapse-content-item-selected {
    color: #49bc85; }

@media (min-width: 641px) {
  .yupoo-collapse-header a {
    max-width: 150px; }
  .yupoo-collapse-content-item {
    height: 40px;
    line-height: 40px; } }

@media (max-width: 640px) {
  .yupoo-collapse-header {
    background-color: #f3f7f7; }
    .yupoo-collapse-header a {
      max-width: calc(100vw - 48px); }
  .yupoo-collapse-content-item {
    height: 48px;
    line-height: 48px; } }

.yupoo-crumbs-span {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }
  .yupoo-crumbs-span.yupoo-crumbs-h1 {
    font-size: inherit;
    font-weight: normal;
    margin: 0;
    line-height: inherit; }
  .yupoo-crumbs-span.is-link:hover {
    color: #49bc85; }
  .yupoo-crumbs-span:not(:first-child) {
    position: relative;
    padding-left: 20px; }
    .yupoo-crumbs-span:not(:first-child)::before {
      content: '';
      position: absolute;
      left: 4px;
      width: 12px;
      height: 12px;
      background-image: url("https://s.yupoo.com/website/4.31.11/images/icons/yupoo-icon-collapse-arrow.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 12px 12px;
      transform: rotate(-90deg); }

@media (min-width: 641px) {
  .yupoo-crumbs {
    height: 22px;
    line-height: 22px;
    font-size: 14px; }
  .yupoo-crumbs-span:not(:first-child) {
    max-width: 40%; }
    .yupoo-crumbs-span:not(:first-child)::before {
      top: 5px; } }

@media (max-width: 640px) {
  .yupoo-crumbs {
    height: 18px;
    line-height: 18px;
    font-size: 12px; }
  .yupoo-crumbs-span:not(:first-child) {
    padding-left: 18px;
    max-width: 36%; }
    .yupoo-crumbs-span:not(:first-child)::before {
      top: 4px;
      width: 10px;
      height: 10px;
      background-image: url("https://s.yupoo.com/website/4.31.11/images/icons/yupoo-icon-collapse-arrow.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 10px 10px; } }

.yupoo-select {
  display: inline-block;
  position: relative;
  border: 1px solid #494949;
  padding-left: 12px;
  padding-right: 24px;
  width: 210px;
  height: 24px;
  background-color: #fff; }

.yupoo-select-active .css-yop3gh {
  transform: rotate(180deg); }

.yupoo-select-active .yupoo-select-options {
  display: block; }

.yupoo-select-label {
  line-height: 22px;
  font-size: 14px;
  color: #494949;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.yupoo-select-options {
  display: none;
  position: absolute;
  top: 23px;
  left: -1px;
  width: 210px;
  max-height: 240px;
  background-color: #fff;
  overflow-y: scroll;
  z-index: 10;
  box-shadow: inset 0 0 0px 1px #777; }

.yupoo-select-option {
  padding-left: 12px;
  padding-right: 12px;
  height: 24px;
  line-height: 24px;
  color: #494949;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }
  .yupoo-select-option:hover {
    background-color: #49bc851a; }

.css-yop3gh {
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 24px;
  position: absolute;
  right: 0px;
  top: calc(50% - 0.5em);
  pointer-events: none;
  color: #494949; }

.yupoo-tooltip {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000000d9;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: absolute;
  z-index: 1070;
  display: block;
  width: -moz-max-content;
  width: max-content;
  width: intrinsic;
  max-width: 250px;
  visibility: visible; }

.yupoo-tooltip-hidden {
  display: none; }

.yupoo-tooltip-content {
  position: relative; }

.yupoo-tooltip-arrow {
  position: absolute;
  z-index: 2;
  display: block;
  width: 22px;
  height: 22px;
  overflow: hidden;
  pointer-events: none; }

.yupoo-tooltip-arrow-content {
  --antd-arrow-background-color: linear-gradient(to right bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.75));
  position: absolute;
  inset: 0;
  display: block;
  width: 11.3137085px;
  height: 11.3137085px;
  margin: auto;
  content: '';
  pointer-events: none; }
  .yupoo-tooltip-arrow-content::before {
    position: absolute;
    top: -11.3137085px;
    left: -11.3137085px;
    width: 33.9411255px;
    height: 33.9411255px;
    background: var(--antd-arrow-background-color);
    background-repeat: no-repeat;
    background-position: -10px -10px;
    content: '';
    -webkit-clip-path: inset(33% 33%);
    clip-path: inset(33% 33%);
    -webkit-clip-path: path("M 9.849242404917499 24.091883092036785 A 5 5 0 0 1 13.384776310850237 22.627416997969522 L 20.627416997969522 22.627416997969522 A 2 2 0 0 0 22.627416997969522 20.627416997969522 L 22.627416997969522 13.384776310850237 A 5 5 0 0 1 24.091883092036785 9.849242404917499 L 23.091883092036785 9.849242404917499 L 9.849242404917499 23.091883092036785 Z");
    clip-path: path("M 9.849242404917499 24.091883092036785 A 5 5 0 0 1 13.384776310850237 22.627416997969522 L 20.627416997969522 22.627416997969522 A 2 2 0 0 0 22.627416997969522 20.627416997969522 L 22.627416997969522 13.384776310850237 A 5 5 0 0 1 24.091883092036785 9.849242404917499 L 23.091883092036785 9.849242404917499 L 9.849242404917499 23.091883092036785 Z"); }

.yupoo-tooltip-inner {
  min-width: 30px;
  min-height: 32px;
  padding: 6px 8px;
  color: #fff;
  text-align: left;
  text-decoration: none;
  word-wrap: break-word;
  background-color: #000000bf;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d; }

.yupoo-tooltip-placement-left,
.yupoo-tooltip-placement-leftTop,
.yupoo-tooltip-placement-leftBottom {
  padding-right: 14.31371px; }
  .yupoo-tooltip-placement-left .yupoo-tooltip-arrow,
  .yupoo-tooltip-placement-leftTop .yupoo-tooltip-arrow,
  .yupoo-tooltip-placement-leftBottom .yupoo-tooltip-arrow {
    right: 0;
    transform: translate(100%); }
  .yupoo-tooltip-placement-left .yupoo-tooltip-arrow-content,
  .yupoo-tooltip-placement-leftTop .yupoo-tooltip-arrow-content,
  .yupoo-tooltip-placement-leftBottom .yupoo-tooltip-arrow-content {
    box-shadow: 3px 3px 7px #00000012;
    transform: translate(-11px) rotate(-45deg); }

.yupoo-tooltip-placement-left .yupoo-tooltip-arrow {
  top: 50%;
  transform: translate(100%) translateY(-50%); }

.yupoo-tooltip-placement-leftTop .yupoo-tooltip-arrow {
  top: 5px; }

.yupoo-tooltip-placement-leftBottom .yupoo-tooltip-arrow {
  bottom: 5px; }

.yupoo-tooltip-placement-right,
.yupoo-tooltip-placement-rightTop,
.yupoo-tooltip-placement-rightBottom {
  padding-left: 14.31371px; }
  .yupoo-tooltip-placement-right .yupoo-tooltip-arrow,
  .yupoo-tooltip-placement-rightTop .yupoo-tooltip-arrow,
  .yupoo-tooltip-placement-rightBottom .yupoo-tooltip-arrow {
    left: 0;
    transform: translate(-100%); }
  .yupoo-tooltip-placement-right .yupoo-tooltip-arrow-content,
  .yupoo-tooltip-placement-rightTop .yupoo-tooltip-arrow-content,
  .yupoo-tooltip-placement-rightBottom .yupoo-tooltip-arrow-content {
    box-shadow: 3px 3px 7px #00000012;
    transform: translate(11px) rotate(135deg); }

.yupoo-tooltip-placement-right .yupoo-tooltip-arrow {
  top: 50%;
  transform: translate(-100%) translateY(-50%); }

.yupoo-tooltip-placement-rightTop .yupoo-tooltip-arrow {
  top: 5px; }

.yupoo-tooltip-placement-rightBottom .yupoo-tooltip-arrow {
  bottom: 5px; }

.yupoo-tooltip-placement-top,
.yupoo-tooltip-placement-topLeft,
.yupoo-tooltip-placement-topRight {
  padding-bottom: 14.31371px; }
  .yupoo-tooltip-placement-top .yupoo-tooltip-arrow,
  .yupoo-tooltip-placement-topLeft .yupoo-tooltip-arrow,
  .yupoo-tooltip-placement-topRight .yupoo-tooltip-arrow {
    bottom: 0;
    transform: translateY(100%); }
  .yupoo-tooltip-placement-top .yupoo-tooltip-arrow-content,
  .yupoo-tooltip-placement-topLeft .yupoo-tooltip-arrow-content,
  .yupoo-tooltip-placement-topRight .yupoo-tooltip-arrow-content {
    box-shadow: 3px 3px 7px #00000012;
    transform: translateY(-11px) rotate(45deg); }

.yupoo-tooltip-placement-top .yupoo-tooltip-arrow {
  left: 50%;
  transform: translateY(100%) translate(-50%); }

.yupoo-tooltip-placement-topLeft .yupoo-tooltip-arrow {
  left: 13px; }

.yupoo-tooltip-placement-topRight .yupoo-tooltip-arrow {
  right: 13px; }

.yupoo-tooltip-placement-bottom,
.yupoo-tooltip-placement-bottomLeft,
.yupoo-tooltip-placement-bottomRight {
  padding-top: 14.31371px; }
  .yupoo-tooltip-placement-bottom .yupoo-tooltip-arrow,
  .yupoo-tooltip-placement-bottomLeft .yupoo-tooltip-arrow,
  .yupoo-tooltip-placement-bottomRight .yupoo-tooltip-arrow {
    top: 0;
    transform: translateY(-100%); }
  .yupoo-tooltip-placement-bottom .yupoo-tooltip-arrow-content,
  .yupoo-tooltip-placement-bottomLeft .yupoo-tooltip-arrow-content,
  .yupoo-tooltip-placement-bottomRight .yupoo-tooltip-arrow-content {
    box-shadow: -3px -3px 7px #00000012;
    transform: translateY(11px) rotate(225deg); }

.yupoo-tooltip-placement-bottom .yupoo-tooltip-arrow {
  left: 50%;
  transform: translateY(-100%) translate(-50%); }

.yupoo-tooltip-placement-bottomLeft .yupoo-tooltip-arrow {
  left: 13px; }

.yupoo-tooltip-placement-bottomRight .yupoo-tooltip-arrow {
  right: 13px; }

.yupoo-viewer-label {
  display: block;
  height: 22px;
  line-height: 22px; }

.yupoo-viewer-item,
.yupoo-viewer-cate-item {
  display: block;
  margin-top: 4px;
  height: 22px;
  line-height: 22px; }
  .yupoo-viewer-item .yupoo-viewer-inline,
  .yupoo-viewer-cate-item .yupoo-viewer-inline {
    display: inline-block;
    line-height: inherit; }
